.container{
    background-color: #fff;
    position: fixed;
    z-index: 100;
    top: -2px;
    left: 0;
    right: 0;
    height: 47px;
    line-height: 47px;
    display: flex;
}

.icons{
    width: 100%;height: 100%;
}
.write{
  background-image: url('../../static/icons/wbicon_03.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
}

.search{
  background-image: url('../../static/icons/wbicon_05.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
}
.reload{
  background-image: url('../../static/icons/wbicon_07.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}
