.container{
    background-color: #fff;
    margin-top: 10px;
    box-shadow: 2px 1px 2px #ddd;
}
.title{
  height: 60px;
  display: flex;
  flex-direction: row;
}

.headPortrait:{
  flex: 1;
  paddingLeft:10px;
}

.name{
  flex: 1;
}
